#container {
    position: relative;
    width: 100%;
    height: 100%;
}

#konva-container {
    position: absolute;
    inset: 0;
}

#operations-control-panel {
    position: absolute;
    /*inset: 0;*/
    pointer-events: auto;
    background-color: #EBEBEB;
    width: 200px;
    height: 200px;
    padding: 10px;
    /*margin: 10px;*/
    top: 0px;
    left: 0px;
}

#operations-control-panel > * {
    /*margin: 10px;*/
    margin-top: 5px;
}

#operations-control-panel button {
    pointer-events: auto;
}

#status-panel {
    position: absolute;
    /*inset: 0;*/
    pointer-events: auto;
    background-color: #EBEBEB;
    width: 200px;
    height: 200px;
    padding: 10px;
    /*margin: 10px;*/
    top: 0px;
    right: 0px;
}

#status-panel > * {
    /*margin: 10px;*/
    margin-top: 5px;
}

#status-panel button {
    pointer-events: auto;
}