#container {
    position: relative;
    width: 100%;
    height: 100%;
}

#konva-container {
    position: absolute;
    inset: 0;
}

#main-panel {
    position: absolute;
    background-color: #EBEBEB;
    width: 200px;
    /*height: 200px;*/
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}

#levels-grid {
    /*position: absolute;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    gap: 8px;
    justify-content: start;
    /*background-color: #EBEBEB;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;*/
    margin-top: 5px;
}

#operations-control-panel {
    position: absolute;
    /*inset: 0;*/
    pointer-events: auto;
    background-color: #EBEBEB;
    width: 200px;
    height: 200px;
    padding: 10px;
    /*margin: 10px;*/
    top: 0px;
    left: 0px;
}

#operations-control-panel > * {
    /*margin: 10px;*/
    margin-top: 5px;
}

#operations-control-panel button {
    pointer-events: auto;
}

#edit-level-description {
    position: absolute;
    pointer-events: none;
    width: 300px;
    height: 30px;
    padding: 10px;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

#edit-level-description > * {
    /*margin: 10px;*/
    margin-top: 5px;
}

#status-panel {
    position: absolute;
    /*inset: 0;*/
    pointer-events: auto;
    background-color: #EBEBEB;
    width: 200px;
    height: 200px;
    padding: 10px;
    /*margin: 10px;*/
    top: 0px;
    right: 0px;
}

#status-panel > * {
    /*margin: 10px;*/
    margin-top: 5px;
}

#status-panel button {
    pointer-events: auto;
}

#simulation-playback-panel {
    position: absolute;
    /*inset: 0;*/
    pointer-events: auto;
    background-color: #EBEBEB;
    width: 200px;
    height: 30px;
    padding: 10px;
    /*margin: 10px;*/
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    gap: 8px;
}

#simulation-playback-panel > * {
    flex: 1;
}

#simulation-control-panel {
    position: absolute;
    pointer-events: auto;
    background-color: #EBEBEB;
    width: 200px;
    height: 50px;
    padding: 10px;
    top: 0px;
    left: 0px;
}

#simulation-control-panel > * {
    margin-top: 5px;
}

#level-tasks-panel {
    position: absolute;
    /*inset: 0;*/
    pointer-events: auto;
    background-color: #EBEBEB;
    width: 250px;
    height: 150px;
    padding: 10px;
    /*margin: 10px;*/
    top: 0px;
    right: 0px;
}

#level-tasks-panel > * {
    /*margin: 10px;*/
    margin-top: 5px;
}